<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"></link>
</head>
<body>

    <form action="/doAdd" method="POST" role="form" enctype="multipart/form-data">
        <legend>Form title</legend>
        <div class="form-group">
            <label for="">书库</label>
            <input type="text" name="m" class="form-control" id="" placeholder="">
        </div>
        <div class="form-group">
            <label for="">姓名</label>
            <input type="text" name="title" class="form-control" id="" placeholder="">
        </div>
        <div class="form-group">
            <label for="">年龄</label>
            <input type="text" name="abstract" class="form-control" id="" placeholder="">
        </div>
        <div class="form-group">
            <label for="">新书</label>
            <input type="checkbox" name="news" class="form-control" id="" placeholder="">
        </div>
        <div class="form-group">
            <label for="">上传图片</label>
            <input type="file" name="file">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>