<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"></link>
    <title>{{block 'title'}}{{/block}}</title>
</head>
<body>
    <div class="page-header">
        <h1>title<small>图书管理</small></h1>
    </div>
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="#">马克思，列宁主义，毛泽东，邓小平</a></li>
        <li role="presentation"><a href="#">环境科学，安全科学</a></li>
        <li role="presentation"><a href="#">航空、航天</a></li>
        <li role="presentation"><a href="#">政治、法律</a></li>
        <li role="presentation"><a href="#">工业技术</a></li>
        <li role="presentation"><a href="#">农业科学</a></li>
        <li role="presentation"><a href="#">生物科学</a></li>
        <li role="presentation"><a href="#">自然科学总论</a></li>
        <li role="presentation"><a href="#">数理科学和化学</a></li>
        <li role="presentation"><a href="#">历史、地理</a></li>
        <li role="presentation"><a href="#">交通运输</a></li>
      </ul>
      <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><a href="#">综合性图书</a></li>
        <li role="presentation"><a href="#">语言、文字</a></li>
        <li role="presentation"><a href="#">医药、卫生</a></li>
        <li role="presentation"><a href="#">天文学、地球科学</a></li>
        <li role="presentation"><a href="#">文学</a></li>
        <li role="presentation"><a href="#">艺术</a></li>
        <li role="presentation"><a href="#">文化、科学、教育、体育</a></li>
        <li role="presentation"><a href="#">军事</a></li>
        <li role="presentation"><a href="#">经济</a></li>
        <li role="presentation"><a href="#">社会科学总论</a></li>
    </ul>
</body>
</html>